---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$blue-color:       #2a7ae2;
$blue-color:       #2054d7;
$blue-color-light: lighten($blue-color, 40%);
$blue-color-dark:  darken($blue-color, 25%);

// MAIN COLORS -----------------------------------------

$brand-color:       #2774ae;
$brand-color-light: #daebfe;
$brand-color-dark:  #005587;

$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);

$blue-color:         #2774ae;
$blue-color-lighter: #8bb8e8;
$blue-color-light:   #daebfe;
$blue-color-dark:    #005587;
$blue-color-darker:  #003b5c;

$gold-color:         #ffd100;
$gold-color-light:   lighten($gold-color, 20%);
$gold-color-dark:    #ffc72c;
$gold-color-darker:  #ffb81c;

// -----------------------------------------------------

// Width of the content area
$content-width:    850px;

$on-palm:          690px;
$on-laptop:        850px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

img[src*='#center'] {
    display: block;
    margin: auto;
}
