<figure style="text-align: center; width: 100%; display: inline-block;">
<span style="display: block; width: 100%; text-align: center;" class="image-double">
{% if include.link %}<a href="/images/{{ include.file1 }}" target="_blank">{% endif %}
<img style="display: inline; width: {% if include.width1 %}{{ include.width1 }}{% else %}45{% endif %}%" src="/images/{{ include.file1 }}#center" />
{% if include.link %}</a>{% endif %}
&nbsp;
&nbsp;
{% if include.link %}<a href="/images/{{ include.file2 }}" target="_blank">{% endif %}
<img style="display: inline; width: {% if include.width2 %}{{ include.width2 }}{% else %}45{% endif %}%" src="/images/{{ include.file2 }}#center" />
{% if include.link %}</a>{% endif %}
</span>
{% if include.caption %}<figcaption>{{ include.caption }}</figcaption>{% endif %}
</figure>

