<figure style="text-align: center;">
{% if include.link %}<a href="/images/{{ include.file }}" target="_blank">{% endif %}
<img src="/images/{{ include.file }}#center" {% if include.caption %}alt="{{ include.caption }}"{% endif %} />
{% if include.link %}</a>{% endif %}
{% if include.caption %}<figcaption>{{ include.caption }}</figcaption>{% endif %}
</figure>

