<figure style="text-align: center; width: 100%">
{% if include.link %}<a href="/images/{{ include.file }}" target="_blank">{% endif %}
<img style="width: {% if include.width %}{{ include.width }}{% else %}100{% endif %}%" src="/images/{{ include.file }}#center" {% if include.caption %}alt="{{ include.caption }}"{% endif %} />
{% if include.link %}</a>{% endif %}
{% if include.caption %}<figcaption>{{ include.caption }}</figcaption>{% endif %}
</figure>

