/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.bio {
  display: inline-block;
  padding: 5px;
}

.bio-photo {
   width: 30%;
   float: right;
}

.bio-tag {
  font-size: 27px;
  color: $grey-color;
  font-weight: bold;
}

@include media-query($on-palm) {
    .bio-photo {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        width: 100%;
        //display: none;
    }
    
    .bio-photo img {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .bio-summary {
        display: none;
    }
    
    .bio-link {
        display: none;
    }
    
    .bio {
        padding: 0px;
        width: 100%;
    }
    
    .bio-text {
        padding: 0px;
        width: 100%;
    }
    
    .bio-tag {
        font-size: 21px;
    }
}


.bio-summary {
  font-size: 18px;
}

.bio-text {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 65%;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    padding: $spacing-unit/2 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


.summary {
  display: block;
  background-color: $blue-color;
  border-radius: 5px;
  font-style: italic;
  border: 2px solid $blue-color;
}

.summary .summary-header{
   font-weight: bold;
   color: white;
   padding: 5px;
}

.summary .summary-body {
  padding: 5px;
  background-color: $blue-color-light;
  border-radius: 0 0 5px 5px;
}

.postit {
  display: block;
  background-color: $grey-color;
  border-radius: 5px;
  border: 2px solid $grey-color;
  margin-bottom: 15px;
  margin-top: 0px;
}


.postit .postit-header{
   font-weight: bold;
   color: black;
   padding: 5px;
}

.postit .postit-body {
  padding: 5px;
  background-color: $grey-color-light;
  border-radius: 5px;
}

.postit .postit-body p {
  margin-bottom: 0px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 25px;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project-wrapper {
  width: 100%;
  position: block;
  background-color: blue;
  border-radius: 5px;
  border: 2px solid $grey-color;
  margin-bottom: $spacing-unit;
}

.project-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
    background-color: red;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.project-content {
  font-size: 20px;
  background-color: yellow;
  float: right;
  width: 70%;
}

.project-image {
  float: left;
  background-color: orange;
  width: 30%;
}

@include media-query($on-palm) {
  figure img {
     width: 100% !important;
  }
  
  figure .image-double img {
     width: 43% !important;
  }
}


@include media-query($on-palm) {
  img#randPicture {
     width: 100% !important;
  }
}

img#randPicture {
     min-width: 55%;
     max-height: 700px;
}
