<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
    <div class="wrapper">
        <div class="bio">
        <div class="bio-photo">
        <p><img src="{{ page.bio-image }}#center" alt="Ian Roberts" title="Ian Roberts" /></p>
        </div>
        <div class="bio-text">
        <p class="bio-tag">{{ page.bio-tag }}</p>
        <p class="bio-summary">{{ page.bio-line-1 }}</p>
        <p class="bio-summary">{{ page.bio-line-2 }}</p>
        <!---<p class="bio-summary">{{ page.bio-line-3 }}</p>--->
        <p class="bio-link"><a href="https://wireless.ee.ucla.edu/publications">Publications</a>  |  <a href="https://scholar.google.com/citations?hl=en&user=RDAx4ycAAAAJ&view_op=list_works" target="_blank">Google Scholar</a>  |  <a href="https://samueli.ucla.edu/people/ian-roberts/" target="_blank">UCLA Profile</a></p>
        <!--<p class="bio-link"><a href="/research">Research</a></p>
        <p class="bio-link"><a href="/publications">Publications</a></p>
        <p class="bio-link"><a href="https://scholar.google.com/citations?hl=en&user=RDAx4ycAAAAJ&view_op=list_works" target="_blank">Google Scholar</a></p>-->
        <p class="bio-link">Email:  ianroberts [at] ucla [dot] edu</p>
        <p class="bio-link">Office: 56-147A Engr IV</p>
        <!---<p class="bio-link"><a href="{{ site.cv | prepend: site.baseurl }}" target="_blank">CV</a></p>--->
        </div>
        </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  
</html>
